header{
    padding-top:80px;
    background-color: white;
}

header .container{
    width: 1300px;
    margin: auto;
    display:flex;
    justify-content: space-between;
}

body{
    background-color: #F9F9F9;
}

header ul{
    display: flex;
    padding:0;
    list-style: none;
    align-items: center;
}

.logo{
    margin: auto 0;
}

header li{
    padding: 5px 30px
}

header a{
    color: var(--Dark-gray, #272042);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-decoration: none; /* treure subratllat */
    transition: all 0.2s; /* transició de color de 0.2 segons */
    display:block;
}

header a:hover{
    color: #75bf7a;
    transform: scale(1.1); /* moure cap amunt */
}

.button{
   display: flex;
    padding: 12px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Green, #75BF7A);
    border: none;
    font-size: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

button:hover{
    background: #63a367;
    transform: scale(1.1);
}

.hero .container{
    display: flex;
    gap: 17px; 
}

.hero .title3{
   color: var(--Black, #000);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 65.91px; /* 102.985% */ 
    margin-top: 163px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.hero .info-hero{
    color: var(--Light-Gray, #9E9DA2);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 137.5% */
    margin-left: 80px;
    margin-top: 27px;

}

.hero .imatge-hero{
    margin-top: 55px;
    margin-right: 147px;
    margin-bottom: 85px;
}

.buttons-hero{
    display: flex;
    gap: 30px;
    margin-left: 80px;
}

.hero .download{
  display: flex;
    width: 260px;
    height: 66.773px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    border-radius: 5px;
    background:#272042; 
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 0; /* 0% */
    margin-top: 30px;
}



.link .container{
    display: inline-flex;
    background: #75bf7a; 
    align-items: center;
    border-radius: 5px;
    margin-left: 80px;
}

.link .link-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 137.5% */
    margin-left: 70px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 127px;
}

.link .phone-number{
    background: white;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 11px;
}

.link .phone-number-text{
    color: #DADADA;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 0; /* 0% */
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 36px;
    margin-right: 196px;
}

.link .button-link{
    border-radius: 5px;
    background:#272042;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    text-decoration: none;
    color: white;
    width: 260px;
    height: 66px;
    margin-right: 80px;
}

.title{
    color: black;
    font-family: "Inter";
    font-size: 47px;
    font-weight: 900;
    line-height: 50.3px;
    text-decoration: none;
    text-align: center;
}

.how-it-works .title{
    margin-bottom: 25px;
    margin-top: 137px;
}

.how-it-works .subtitle{
    color: #9E9DA2;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    text-decoration: none;
    text-align: center;
}

.columnes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.columna1 .número1{
    text-align: right;
    margin-top: 100px;
}

.columna1 .title1{
    color: black;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 800;
    line-height: 50.3px;
    text-decoration: none;
    text-align: right;
}

.columna1 .info1{
    color: #9E9DA2;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
    text-align: right;
    margin-top: -10px;
}

.columna1 .número3{
    text-align: right;
    margin-top: 25px;
}

.columnes .columna2{
    text-align: center;
    margin-top: 66px;
}

.columnes .columna3{
    width: 290px;
    height: 255px;
    margin-right: 190px;
}

.columna3 .número2{
    margin-top: 100px;
}

.columna3 .title1{
    color: black;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 800;
    line-height: 50.3px;
    text-decoration: none;
    text-align: left;   
}

.columna3 .info1{
    color: #9E9DA2;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
    text-align: left;
    margin-top: -10px;   
}

.columna3 .número4{
    margin-top: 52px;
}

.how-it-works .dots{
    text-align: center;
    margin-top: 59px;
    margin-bottom: 0px;
}

.benefits .title{
   margin-top: 85px;
   margin-bottom: 70px; 
}

.benefits .section1{
    display: flex;
    width: 1060px;
    height: 302px;
    align-items: center;
    gap: 262px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
    margin-bottom: 67px;
    margin-left: 81px;
    margin-right: 299px;
}

.benefits .text{
    display: flex;
    width: 393px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 66px;
    margin-left: 38px;
}

.section1 .text .number-title{
    display: flex;
    align-items: center;
    gap: 28px;
    width: 375px;
    height: 119px;
}

.number-title .text-number{
   color: #75BF7A;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.8px; /* 135% */ 
}

.number-title .title2{
    color: #000;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.5px; /* 95.749% */
}

.text .info2{
    color: #9E9DA2;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */ 
    margin-bottom: 66px;
    margin-top: 0px;
}

.benefits .section2{
    display: flex;
    width: 1060px;
    height: 302px;
    align-items: center;
    gap: 262px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
    margin-bottom: 67px;
    margin-left: 299px;
    margin-right: 81px;
}

.section2 .text .number-title{
    display: flex;
    align-items: center;
    gap: 28px;
    width: 303px;
    height: 119px;
}

.section2 .imatge{
    margin-left: 66px;
}

.benefits .section3{
    display: flex;
    width: 1060px;
    height: 302px;
    align-items: center;
    gap: 262px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
    margin-bottom: 237px;
    margin-left: 81px;
    margin-right: 299px;
}

.section3 .text .number-title{
    display: flex;
    align-items: center;
    gap: 28px;
    width: 375px;
    height: 119px;
}

footer{
    background-color: #FFF;
}

footer .container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 252px;
    align-self: center;
    border-bottom: 1px solid #8B8BA5;
    border-top: 1px solid #8B8BA5;
    margin-left: 0px;
}

footer .logo2{
   margin-left: 148px; 
   margin-right: 94px;
}

footer .info-footer{
    margin-right: 73px;
    margin-bottom: 35px;
    margin-top: 60px;
    
}

footer .title-footer{
    color: var(--Dark-gray, #272042);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px; /* 228.847% */
    margin-top: 0px;
    margin-bottom: 0px;
}


footer .text-footer{
    color: var(--Gray, #8B8BA5);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
    margin-top: 10px;
    margin-bottom: 0px;
}

footer .button-small{
    border-radius: 5px;
    background:#272042;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    text-decoration: none;
    color: white;
    width: 174px;
    height: 46px;
    margin-right: 50px;
    gap: 10px;
}

footer .container2{
    height: 300px;;
}

footer .text2-footer{
    color: var(--Green, #75BF7A);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 35px;
}

